/* .bbh-sans-bartle-regular {
  font-family: "BBH Sans Bartle", sans-serif;
  font-weight: 400;
  font-style: normal;
} */

/* @font-face {
    font-family: 'this-font';
    src: url('./PlaywriteDEGrundGuides-Regular.ttf');
}


p{
    text-align: right;
    font-family: 'this-font';
} */

/* p{
    vertical-align: bottom;
    background-color: aqua;
    height: 200px;
} */

/* .abg{
    font-family: 'Gill Sans', 'Gill Sans MT', 'Calibri', 'Trebuchet MS', sans-serif;
} */
/* 
.abg{
    fo
} */

/* .abg{
    background-image: url('./images/Majid\ Rajput\ \(1\).jpeg');
    height: 400px;
    text-indent : 40px;
    
} */

/* .abg{
    background-color: antiquewhite;
    text-shadow: 5px 10px 0px #000;
} */

/* 
.abg{
    box-shadow: 1px 1px #000;
    width: 400px;
    background-color: cadetblue;
    box-shadow: 5px -5px 12px #000;
} */

 /* .abg{
 background-color: #cccccc;
 color: #ffffff;
 text-shadow: 5px 5px 2px #111111;} */

 /* .abg::first-line{
    font-weight: 900;
 }

 .abg::first-letter{
    font-size: 200%;
 } */

