input { 
 width: 50%;  
 border: none; 
/* font-size: 120%;  */
/* color: #5a5854;  */
/* background-color: #f2f2f2; 
border: 1px solid #bdbdbd;  */
/* border-radius: 5px;  */
/* padding: 5px 5px 5px 30px;  */
/* background-repeat: no-repeat;  */
/* background-position: 8px 9px;  */
/* display: block;  */
/* margin-bottom: 10px; */
} 

input:focus {
 /* background-color: rebeccapurple;  */
border: none;} 

/* input#email { 
background-image: url("./images.jpg");
}  */