body{
    display: flex;
    justify-content: center;
    align-items: center;
}

.container{
    width: 900px;
    background-color: antiquewhite;
    display: grid;
    grid-template-columns: repeat(3, 300px);
    grid-template-rows:repeat(3, 300px);
    grid-column-gap: 10px;
    grid-row-gap: 10px;
    
}

.item-1{
    background-color: aqua;
    grid-column-start: 3;
    grid-column-end: 4;
    grid-row-start: 3;
    grid-row-end: 4;
    
}

.item-2{
    background-color: blue;
}

.item-3{
    background-color: brown;
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 1;
    grid-row-end: 2;
}

.item-4{
    background-color: blueviolet;
}

.item-5{
    background-color: cadetblue;
}

.item-6{
    background-color: chartreuse;
}

.item-7{
    background-color: chocolate;
}

.item-8{
    background-color: cornflowerblue;
}

.item-9{
    background-color: yellow;
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 1;
    grid-row-end: 2;
}

.item{
    /* display: flex;
    justify-content: center;
    align-items: center; */
    display: grid;
    justify-items: end;
    align-items: end;
}